<!DOCTYPE html>
<html lang="en-US">

<head>
    <title>Globactiv Logistics | Connections Made Simple</title>
    <link rel="shortcut icon" type="image/jpg" href="/fv.png" />
    <meta name="author" content="">
    <meta name="robots" content="index follow">
    <meta name="googlebot" content="index follow">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="keywords"
        content="cargo, clean, contractor, corporate, freight, industry, localization, logistics, modern, shipment, transport, transportation, truck, trucking">
    <meta name="description" content="Transportation">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google fonts -->
    <link
        href="../../../fonts.googleapis.com/csse63f.css?family=Roboto+Mono&subset=greek,cyrillic%7CPoppins:300i,300,400,500,600,700,400i,500%7CDancing+Script:700%7CDancing+Script:700%7CGreat+Vibes:400%7CPoppins:400%7CDosis:800%7CRaleway:400,700,800&amp;subset=latin-ext"
        rel="stylesheet">
    <!-- animate -->
    <link rel="stylesheet" href="/css/animate.css" />
    <!-- owl Carousel assets -->
    <link href="/css/owl.carousel.css" rel="stylesheet">
    <link href="/css/owl.theme.css" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- hover anmation -->
    <link rel="stylesheet" href="/css/hover-min.css">
    <!-- flag icon -->
    <link rel="stylesheet" href="/css/flag-icon.min.css">
    <!-- main style -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- elegant icon -->
    <link rel="stylesheet" href="/css/elegant_icon.css">
    <!-- fontawesome  -->
    <link rel="stylesheet" href="/fonts/font-awesome/css/font-awesome.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/rslider/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">
    <link rel="stylesheet" type="text/css" href="/rslider/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/rslider/css/settings.css">
    <style>
        .table {
            border: 1px solid black;
            min-width: 500px;
        }
        th{
            color: #ffffff;
        }

        .table th,
        td {
            white-space: nowrap;
        }

        .table-wrap {
            max-height: 400px;
            overflow-y: scroll;
            margin: 20px 50px;
        }

        @media (min-width: 1200px) {
            .vsform{
                padding-top: 40px;
            }
        }

        @media (max-width: 600px) {
            .table-wrap {
                margin: 10px 20px;
            }
        }

        @media (max-width: 400px) {
            .table-wrap {
                margin: 5px 10px;
            }
        }

        .input {
            background-color: aqua;
        }
    </style>
</head>

<body>

    <!-- // Header  -->
    <%-include ('./partials/header')%>


        <!-- Search  -->
        <div id="search">
            <button type="button" class="close">×</button>
            <form class="clearfix d-block">
                <input type="search" value="" placeholder="Search for . . . ." />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>





        <div id="rev_slider_4_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="logistics-2"
            data-source="gallery"
            style="margin:0px auto;background:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
            <!-- START REVOLUTION SLIDER 5.4.8 fullwidth mode -->
            <div id="rev_slider_4_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.4.8">
                <ul>
                    <!-- SLIDE  -->
                    <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <video autoplay muted loop id="myVideo">
                            <source src="/video/bg.mp4" type="video/mp4">

                        </video>
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption   tp-resizeme" id="slide-5-layer-1"
                            data-x="['right','right','center','center']" data-hoffset="['0','41','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-111','-138','-147','-128']"
                            data-fontsize="['50','50','50','45']" data-width="['461','461','462','462']"
                            data-height="['173','173','none','none']" data-whitespace="nowrap" data-type="text"
                            data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1140,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; min-width: 461px; max-width: 461px; max-width: 173px; max-width: 173px; white-space: nowrap; font-size: 50px; line-height: 59px; font-weight: 400; color: #ffffff; letter-spacing: -4px;font-family:Poppins;">
                            Connections Made Simple</div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption   tp-resizeme" id="slide-5-layer-3"
                            data-x="['right','right','center','center']" data-hoffset="['0','43','0','1']"
                            data-y="['top','top','top','top']" data-voffset="['235','210','242','244']"
                            data-width="['458','458','458','362']" data-height="['none','none','none','71']"
                            data-whitespace="normal" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":260,"speed":1110,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['right','right','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; min-width: 458px; max-width: 458px; white-space: normal; font-size: 15px; line-height: 23px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">
                            World-class Logistics Management Made Simple.<br>Globactiv takes the stress out of logistics
                            management through technology.</div>

                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption rev-btn " id="slide-5-layer-2" data-x="['right','right','left','center']"
                            data-hoffset="['2','39','402','99']" data-y="['top','top','top','top']"
                            data-voffset="['319','305','338','329']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"delay":630,"speed":1120,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:transparent;bc:rgb(255,255,255);"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
                            data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]"
                            data-paddingleft="[35,35,35,35]"
                            style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: 0px;font-family:Poppins;background-color:rgb(229,57,53);border-color:rgb(229,57,53);border-style:solid;border-width:2px 2px 2px 2px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            Contact Us </div>


                    </li>
                    <!-- SLIDE  -->
                    <li data-index="rs-7" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
                        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300"
                        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2=""
                        data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8=""
                        data-param9="" data-param10="" data-description="">
                        <!-- MAIN IMAGE -->
                        <video autoplay muted loop id="myVideo">
                            <source src="/video/bg1.mp4" type="video/mp4">
                        </video>

                        <!-- LAYER NR. 5 -->
                        <div class="tp-caption   tp-resizeme" id="slide-7-layer-1"
                            data-x="['left','left','center','center']" data-hoffset="['0','41','0','0']"
                            data-y="['middle','middle','middle','middle']" data-voffset="['-169','-138','-147','-128']"
                            data-fontsize="['50','50','50','45']" data-width="462" data-height="none"
                            data-whitespace="nowrap" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":10,"speed":1140,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['inherit','inherit','inherit','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 5; min-width: 462px; max-width: 462px; white-space: nowrap; font-size: 50px; line-height: 59px; font-weight: 400; color: #ffffff; letter-spacing: -4px;font-family:Poppins;">
                            Connections Made Simple </div>

                        <!-- LAYER NR. 6 -->
                        <div class="tp-caption   tp-resizeme" id="slide-7-layer-3"
                            data-x="['left','left','center','center']" data-hoffset="['0','42','0','1']"
                            data-y="['top','top','top','top']" data-voffset="['235','258','242','244']"
                            data-width="['458','458','458','362']" data-height="['none','none','none','71']"
                            data-whitespace="normal" data-type="text" data-responsive_offset="on"
                            data-frames='[{"delay":260,"speed":1110,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                            data-textAlign="['left','left','center','center']" data-paddingtop="[0,0,0,0]"
                            data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
                            style="z-index: 6; min-width: 458px; max-width: 458px; white-space: normal; font-size: 15px; line-height: 23px; font-weight: 400; color: #ffffff; letter-spacing: 0px;font-family:Poppins;">
                            World-class Logistics Management Made Simple.<br>Globactiv takes the stress out of logistics
                            management through technology.</div>

                        <!-- LAYER NR. 7 -->
                        <div class="tp-caption rev-btn " id="slide-7-layer-2" data-x="['right','right','left','center']"
                            data-hoffset="['776','451','402','99']" data-y="['top','top','top','top']"
                            data-voffset="['320','342','338','329']" data-width="none" data-height="none"
                            data-whitespace="nowrap" data-type="button" data-responsive_offset="on"
                            data-responsive="off"
                            data-frames='[{"delay":630,"speed":1120,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgb(255,255,255);bg:transparent;bc:rgb(255,255,255);"}]'
                            data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[12,12,12,12]"
                            data-paddingright="[35,35,35,35]" data-paddingbottom="[12,12,12,12]"
                            data-paddingleft="[35,35,35,35]"
                            style="z-index: 7; white-space: nowrap; font-size: 14px; line-height: 17px; font-weight: 500; color: rgba(255,255,255,1); letter-spacing: 0px;font-family:Poppins;background-color:rgb(229,57,53);border-color:rgb(229,57,53);border-style:solid;border-width:2px 2px 2px 2px;border-radius:30px 30px 30px 30px;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
                            Contact Us </div>


                    </li>
                </ul>
                <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
            </div>
        </div>

        <div class="vsform"></div>

        <div class="text-center">
            <h1 style="color: red;">Vessel Schedules</h1>
            <p>Plan your cargo bookings on our platform with easy access to departure schedules</p>
        </div><br>

        <form>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <p class="mb-0">whare do you want to ship from</p>
                            <select class="form-control" style="border-color: #E53935; border-radius: 30px;" name="pol"
                                id="pol" onchange="polName()">
                                <option value="">
                                    <%= select.polName || "Origin" %>
                                </option>
                                <option value="0">
                                    <%="ALL" %>
                                </option>
                                <% for(let data of POL){%>

                                    <%if(data.name != "-"){%>
                                    
                                    <option value=<%=data.id%>>
                                        <%=data.name%>
                                    </option>
                                    <%}%>
                                    <%}%>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6 text-center">
                        <div class="form-group">
                            <p class="mb-0">whare do you want to ship to</p>
                            <select class="form-control" style="border-color: #E53935;border-radius: 30px;" name="pod"
                                id="pod" onchange="podName()">
                                <option value="">
                                    <%= select.podName || "Destination" %>
                                </option>
                                <option value="0">
                                    <%="ALL" %>
                                </option>
                                <% for(let data of POD){%>
                                     <%if(data.name != "-"){%>
                                    
                                    <option value=<%=data.id%>>
                                        <%=data.name%>
                                    </option>
                                    <%}%>
                                    <%}%>
                            </select>
                        </div>
                    </div>
                    </div>
                    <div class="text-center" style="margin-top: 23px;">
                        <div>
                            <button class="btn w-20" style="border-radius: 30px; background-color: #E53935;"
                                type="submit"><a href="" id="req" onclick="req()"
                                    style="color: white;padding: 10px 40px;">Submit</a></button>
                        </div>
                </div>
            </div>
        </form><br><br>

        <script>

            let polname = ""
            let podname = ""

            const polName = function () {
                var select = document.querySelector("#pol")
                polname = select.options[select.selectedIndex].text
            }

            const podName = function () {
                var select = document.querySelector("#pod")
                podname = select.options[select.selectedIndex].text
            }

            function req() {
                var pol = document.querySelector("#pol").value
                var pod = document.querySelector("#pod").value
                document.querySelector("#req").href = `/Vessel-Schedule?pol=${pol}&pod=${pod}&polName=${polname}&podName=${podname}`;
            }
        </script>



        <!--============= About Us =============-->
        <div class="nile-about-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 sm-mb-45px">

                        <div class="section-title-right text-main-color clearfix ">
                            <div class="icon"><img src="/icons/title-icon-1.png" alt=""></div>

                            <h2 class="title-text">Who We Are ?</h2>
                        </div>
                        <div class="about-text margin-tb-25px text-justify">
                            <h4>25 years of experience in Logistics services</h4>

                            <br> Globactiv companies are known for accepting challenges with a global vision and
                            strategic growth plan that puts the company at the forefront of driving innovation, growth,
                            and change across every aspect of business – a successful formula that has earned Globactiv
                            a position as a market leader across all verticals.
                        </div>
                        <a href="/About-Us" class="nile-bottom sm">Read More</a>

                    </div>
                    <div class="col-lg-6">
                        <img src="/pics/3.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!--============= //About Us =============-->




        <div class="call-action ba-1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 padding-tb-15px">
                        <h2>Unbeatable Trucking and Transport Services</h2>
                        <div class="text">"If you think of standardisation as the best that you know today, but which is
                            to be improved tomorrow; you get somewhere. [via Everything Supply Chain]." </div>
                    </div>

                </div>
            </div>
        </div>



        <div class="section padding-tb-100px section-ba-1">
            <div class="container">
                <!-- Title -->
                <div class="section-title margin-bottom-40px">
                    <div class="row justify-content-center">
                        <div class="col-lg-7">
                            <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
                            <div class="h2">Our Service</div>

                        </div>
                    </div>
                </div>
                <!-- // End Title -->
                <br><br>
                <div class="background-white">
                    <div class="service-section-2 container">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="service layout-2 sm-mb-25px">
                                    <div class="clearfix">
                                        <div class="icon"><img src="/icons/service-light-3.png" alt=""></div>
                                        <a href="#" class="title">Sea Freight</a>

                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="col-md-4">
                                <div class="service layout-2 sm-mb-25px">
                                    <div class="clearfix">
                                        <div class="icon"><img src="/icons/service-light-2.png" alt=""></div>
                                        <a href="#" class="title">Air Freight</a>

                                    </div>

                                </div>
                            </div>

                            <br>
                            <br>
                            <div class="col-md-4">
                                <div class="service layout-2 sm-mb-25px">
                                    <div class="clearfix">
                                        <div class="icon"><img src="/icons/service-light-4.png" alt=""></div>
                                        <a href="#" class="title">Custom House Brokerage</a>
                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>





            </div>
        </div>


        <div class="section  section-ba-1">
            <div class="container">

                <div class="background-white">
                    <div class="service-section-2 container">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="service layout-2 sm-mb-25px">
                                    <div class="clearfix">
                                        <div class="icon"><img src="/icons/service-light-3.png" alt=""></div>
                                        <a href="#" class="title">Warehousing</a>

                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="col-md-4">
                                <div class="service layout-2 sm-mb-25px">
                                    <div class="clearfix">
                                        <div class="icon"><img src="/icons/service-light-2.png" alt=""></div>
                                        <a href="#" class="title">3PL</a>

                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>

                            <div class="col-md-4">
                                <div class="service layout-2 sm-mb-25px">
                                    <div class="clearfix">
                                        <div class="icon"><img src="/icons/service-light-1.png" alt=""></div>
                                        <a href="#" class="title">Cargo Management</a>

                                    </div>

                                </div>
                            </div>
                            <br>
                            <br>

                        </div>
                    </div>
                </div>





            </div>
        </div>
        <br><br>
        <div class="container padding-tb-20px">

            <!-- Title -->
            <div class="section-title margin-bottom-40px">
                <div class="row justify-content-center">
                    <div class="col-lg-7">

                        <div class="h2"> Our Sub-Companies</div>
                    </div>
                </div>
            </div>
            <!-- // End Title -->

            <div class="row  justify-content-center ">
                <div class="col-lg-2 col-sm-6">
                    <div class="cart-service background-main-color">
                        <a href="/SubCompanies/Globactivcargo">
                            <div class="icon"><img src="/images/Globactivcargo.jpg" alt=""></div>
                        </a>
                        <hr>

                    </div>
                </div>

                <div class="col-lg-2 col-sm-6">
                    <div class="cart-service background-main-color">
                        <a href="/SubCompanies/Globactivlogistics">
                            <div class="icon"><img src="/images/Globactivlogistics.jpg" alt=""></div>
                        </a>

                        <hr>

                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="cart-service background-main-color">
                        <a href="/SubCompanies/Globactivrealties">
                            <div class="icon"><img src="/images/Globactivrealties.jpg" alt=""></div>
                        </a>

                        <hr>

                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="cart-service background-main-color">
                        <a href="/SubCompanies/GlobactivSolutions">
                            <div class="icon"><img src="/images/GlobactivSolutions.jpg" alt=""></div>
                        </a>

                        <hr>

                    </div>
                </div>
                <div class="col-lg-2 col-sm-6">
                    <div class="cart-service background-main-color">
                        <a href="/SubCompanies/GlobactivTransport">
                            <div class="icon"><img src="/images/GlobactivTransport.jpg" alt=""></div>
                        </a>

                        <hr>

                    </div>
                </div>
            </div>
        </div>



        <div class="partners  justify-content-center ">
            <div class="nile-about-section justify-content-center">
                <div class="container ">
                    <div class="section-title margin-bottom-40px">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">

                                <div class="h2"> Our Partners</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <!-- partners item -->


                        <!--//  partners item -->
                        <!-- partners item -->
                        <div class="col-md-2 col-sm-4 justify-content-center">
                            <div class="partners-item text-center sm-mb-30px">
                                <img src="/comany/allcargo.jpg" alt="">
                            </div>
                        </div>

                        <div class=" col-md-2 col-sm-4 justify-content-center">
                            <div class="partners-item  text-center sm-mb-30px">
                                <img src="/comany/ifc8.png" alt="">
                            </div>
                        </div>
                        <div class=" col-md-2 col-sm-4 justify-content-center">
                            <div class="partners-item  text-center sm-mb-30px">
                                <img src="/comany/ecuww.png" alt="">
                            </div>
                        </div>

                        <div class=" col-md-2 col-sm-4 justify-content-center">
                            <div class="partners-item  text-center sm-mb-30px">
                                <img src="/comany/wca.jpeg" alt="">
                            </div>
                        </div>
                        <!--//  partners item -->


                        <!-- partners item -->
                        <div class=" col-md-2 col-sm-4 justify-content-center">
                            <div class="partners-item  text-center sm-mb-30px">
                                <img src="/comany/ifc8.png" alt="">
                            </div>
                        </div>
                        <!--//  partners item -->


                        <!-- partners item -->
                        <div class="col-md-2 col-sm-4 justify-content-center">
                            <div class="partners-item text-center sm-mb-30px">
                                <img src="/comany/allcargo.jpg" alt="">
                            </div>
                        </div>
                        <!--//  partners item -->

                    </div>
                </div>
            </div>
        </div>







        <div class="map-layout">
            <div class="map-embed">
                <iframe
                    src="https://maps.google.com/maps?q=forbes%20and%20walker%20buildiing&t=&z=13&ie=UTF8&iwloc=&output=embed"
                    width="100%" height="390" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8"></div>
                    <div class="col-lg-4">
                        <div class="padding-tb-50px padding-lr-30px background-main-color pull-top-309px">
                            <div class="contact-info-map">
                                <div class="margin-bottom-30px">
                                    <h2 class="title">Location</h2>
                                    <div class="contact-info opacity-9">
                                        <div class="icon margin-top-5px"><span class="icon_pin_alt"></span></div>
                                        <div class="text">
                                            <span class="title-in">Location :</span> <br>
                                            <span class="font-weight-500 text-uppercase">Globactiv Logistics (Pvt)
                                                <br>Ltd.
                                                4th Floor, No, 46/38,
                                                Forbes & Walker Building,
                                                Nawam Mawatha, Sri Lanka.</span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="call_center margin-top-30px">
                                    <h2 class="title">Call Center</h2>
                                    <div class="contact-info opacity-9">
                                        <div class="icon  margin-top-5px"><span class="icon_phone"></span></div>
                                        <div class="text">
                                            <span class="title-in">Call Us :</span><br>
                                            <span class="font-weight-500 text-uppercase">94 11 4848145</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <%- include('./partials/footer') %>


            <script>
                // Get the video
                var video = document.getElementById("myVideo");

                // Get the button
                var btn = document.getElementById("myBtn");

                // Pause and play the video, and change the button text
                function myFunction() {
                    if (video.paused) {
                        video.play();
                        btn.innerHTML = "Pause";
                    } else {
                        video.pause();
                        btn.innerHTML = "Play";
                    }
                }
            </script>


            <!-- jquery library  -->
            <script src="/js/nile-slider.js"></script>
            <script src="/js/jquery-3.2.1.min.js"></script>
            <!-- REVOLUTION JS FILES -->
            <script src="/rslider/js/jquery.themepunch.tools.min.js"></script>
            <script src="/rslider/js/jquery.themepunch.revolution.min.js"></script>
            <!-- SLIDER REVOLUTION 5.0 EXTENSIONS -->
            <script src="/rslider/js/extensions/revolution.extension.actions.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.carousel.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.kenburn.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.layeranimation.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.migration.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.navigation.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.parallax.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.slideanims.min.js"></script>
            <script src="/rslider/js/extensions/revolution.extension.video.min.js"></script>
            <script src="/js/YouTubePopUp.jquery.js"></script>
            <script src="/js/owl.carousel.min.js"></script>
            <script src="/js/imagesloaded.min.js"></script>
            <script src="/js/custom.js"></script>
            <script src="/js/popper.min.js"></script>
            <script src="/js/bootstrap.min.js"></script>

</body>



</html>